*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

body{
    background-color: #848688;
    color:#000000;
}

header nav{
    background-color: rgb(230, 231, 179);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header nav form{
    display: flex;
    justify-content: center;
}

form input[type="text"], button[type="submit"]{
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
}

form button[type="submit"]{
    background-color: green;
    color: #ffff;
    cursor: pointer;
}

form button[type="submit"]:hover,
.recipe button :hover,
.recipe-close-btn{
    background-color: yellowgreen;
}



/* Main Section */
.recipe-container{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 35px;
    width: 90%;
    margin: 10px auto;
    padding: 20px;
}

.recipe {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: rgb(20, 20, 20);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
}

.recipe:hover{
    transform: scale(1.02) ;
}


.recipe img{
    height: 200px;
   
}

.recipe h3{
    font-size: 25px;
    padding: 10px;
}

.recipe p{
    font-size: 15px;
    color: #535050;
    margin: 5px 0;
}

.recipe span{
    font-weight: 600;
}

.recipe button{
    background-color: green;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 18px auto;
    font-weight: 600;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    color: #fff;
}

/* recipe details */
.recipe-details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c2afa6;
    -webkit-transform: translate(-50%, -50%);
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 16px ;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    color: rgb(0, 0, 0);
}

.recipe-details-content {
    padding: 30px;
}

/* Optional: Customize scrollbar appearance */
.recipe-details::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.recipe-details::-webkit-scrollbar-thumb {
    background: #6b7466; /* Color of the scrollbar thumb */
    border-radius: 16px;
    -webkit-border-radius: 16px;
}

.recipe-details::-webkit-scrollbar-thumb:hover {
    background: #aaa; /* Thumb color on hover */
}

.recipe-details::-webkit-scrollbar-track {
    background: #f0f0f0; /* Scrollbar track color */
} 

.recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 20px;
}

.ingredientList li {
    margin-top: 10px;
    margin-left: 20px;
}

.recipeInstructions p {
    line-height: 30px;
    white-space: pre-line;
    padding-top: 20px;
}


.recipeName, 
.ingredientList,
 .recipeInstructions{
    margin-bottom: 30px;
}


.recipe-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    color: #000000;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    z-index: 10;
    padding: 8px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30px;

}

.recipe-close-btn:hover {
    background: #ff1a1a;
    transform: scale(1.1); /* Slight zoom effect */
}


/* adding scrollbard to recipe details popup */
body::-webkit-scrollbar{ 
    width: 16px;

}
body::-webkit-scrollbar-thumb{
    background: #c4b8b3;
    border-radius: 16px;
    --webkit-border-radius: 16px;
}

body::-webkit-scrollbar-thumb{
    background-color: #a7d2f5;

}

body::-webkit-scrollbar-track{
    background-color: #ffffff;
} 


/* responsive code */
@media screen and (max-width:600px) {
    header nav{
        flex-direction: column;
    }
    header nav form{
        width: 80%;
        margin-top: 20px;
    }
    
}